:root {
  --pink: hsl(322, 100%, 66%);
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
  --light-grayish-blue: hsl(210, 53%, 85%);
  --black: rgba(17, 17, 26, 0.1);
  --white: rgb(255, 255, 255);
  --ff-poppins: "Poppins", sans-serif;
  --ff-open-sans: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
p {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  font-family: var(--ff-poppins);
  margin-bottom: 1.5rem;
  line-height: 1.3;
}

p,
ul,
button {
  font-family: var(--ff-open-sans);
}

p,
li {
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  padding-inline: 2rem;
  margin-inline: auto;
}

.content-bg-main {
  background: url("images/bg-hero-mobile.svg") no-repeat;
  background-color: var(--very-pale-cyan);
  padding-block: 2rem;
}

header,
.content-split {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

header {
  flex-direction: row;
  padding-bottom: 5rem;
}

.content-split {
  flex-direction: column;
  gap: 3rem;
}

.content-logo {
  max-width: 8rem;
}

.content-bg-light {
  background-color: var(--white);
  box-shadow: 0 0 16px var(--black);
  border-radius: 20px;
}

.content-text-dark {
  color: var(--very-dark-cyan);
}

.content-text-light {
  color: var(--grayish-blue);
}

.content-functions {
  margin: 5rem 0;
}

.content-functions section {
  margin-bottom: 2rem;
  padding: 2.5rem;
}

.content-functions img {
  order: 1;
}

.content-functions div {
  order: 2;
}

.content-build {
  max-width: 35rem;
  margin-inline: auto;
  padding: 2.5rem 1.5rem;
  position: relative;
  bottom: -5rem;
  text-align: center;
}

.btn {
  border: none;
  outline: none;
  border-radius: 50px;
  box-shadow: 0 0 16px var(--black);
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.try-btn {
  padding: 0.5rem 2rem;
  color: var(--very-dark-cyan);
  background-color: var(--white);
}

.get-started-btn {
  padding: 0.7rem 3rem;
  color: var(--white);
  background-color: var(--pink);
}

.btn-sml {
  margin-block: 2rem;
}

.btn-lrg {
  padding: 1rem 3rem;
}

footer {
  background-color: var(--very-dark-cyan);
  padding-block: 9rem 3rem;
  text-align: left;
}

footer li {
  margin-bottom: 1rem;
}

.footer-logo {
  filter: brightness(0) invert(1);
  max-width: 9rem;
  margin-bottom: 2rem;
}

.content-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--light-grayish-blue);
}

.content-footer ul {
  max-width: 20rem;
}

.content-footer a {
  color: var(--light-grayish-blue);
}

.content-footer a:hover {
  text-decoration: underline;
}

.content-footer-contact {
  margin-bottom: 1.5rem;
}

.content-footer-contact li {
  display: flex;
  gap: 1rem;
}

.content-footer-contact i {
  margin-top: 5px;
}

.content-footer-media {
  text-align: center;
  margin-top: 2rem;
  margin-inline: auto;
}

.content-footer-media i {
  text-align: center;
  border-radius: 50%;
  width: 2.8rem;
  border: 1px solid var(--light-grayish-blue);
  padding: 0.8rem 0.8rem;
  cursor: pointer;
  margin-left: 0.5rem;
}

.content-footer-media i:hover {
  color: var(--pink);
  border-color: var(--pink);
}

.copyright {
  font-size: small;
}

@media (min-width: 700px) {
  h1 {
    font-size: 2.3rem;
  }

  header,
  .content-split {
    text-align: left;
  }

  .content-split {
    flex-direction: row;
    gap: 5rem;
  }

  .content-split > * {
    flex: 1;
  }

  .content-split img {
    width: 50%;
  }

  .content-functions section {
    padding-left: 8rem;
  }

  .content-functions div {
    order: 1;
  }

  .content-functions img {
    width: 40%;
  }

  .content-build h2 {
    font-size: 1.5rem;
  }

  .content-footer {
    flex-direction: row;
    gap: 2rem;
  }

  .content-footer-contact {
    margin-bottom: 0;
  }

  .content-footer-media {
    text-align: left;
    margin: 0;
  }

  .content-footer-media i {
    margin-bottom: 5rem;
  }
}
